.matrix {
    position: relative;
  }

  .matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
  }

  .matrix:before {
    left: -6px;
    border-right: 0;
  }

  .matrix:after {
    right: -6px;
    border-left: 0;
  }
#wrapper {
  display: inline;
}
#div1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#div2 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: text-bottom;
    margin-bottom: 10px;
}
#div3 {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 12px;
  margin-bottom: 1px;
}
