{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home_design.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<div class="header_1">
  <a class="logo" href="{% url 'tmm-home' %}" style="text-align: center;">[ Too Many Matrices ]</a>
  <div class="header_1-right">
    <p align="" style="display:inline;"></p><a align="right" href="https://github.com/Adi-UA/TooManyMatrices"
      class="btn twtr" target="_b" style="font-size: 15px;">Support Us 🚀</a>
    <p align="right" style="display:inline"></p><a align="right" href="https://github.com/Adi-UA/TooManyMatrices/issues"
      class="btn twtr" target="_b" style="font-size: 15px;">Report a bug 🐛</a>
    <p align="right" style="display:inline"></p><a align="right" href="https://github.com/Adi-UA/TooManyMatrices"
      class="btn twtr" target="_b" style="font-size: 15px;">Find the Code here 💾</a>
  </div>
</div>
{% block content %}{% endblock %}

</html>