{% extends "tmm/header.html" %}
{% block content %}
        <form action= "{% url 'choose' %}" method="post">
                {% csrf_token %}
                <h2>Operation type</h2>
                <label for="choice"></label>
                <select id="choice" name="choice">
                        <option value="0">None</option>
                        <option value="Matrix Addition">Matrix Addition</option>
                        <option value="Matrix Subtraction">Matrix Subtraction</option>
                        <option value="Matrix Multiplication">Matrix Multiplication</option>
                        <option value="Matrix Bitwise OR">Matrix Bitwise OR</option>
                        <option value="Matrix Bitwise AND">Matrix Bitwise AND</option>
                        <option value="Matrix Bitwise XOR">Matrix Bitwise XOR</option>
                        <option value="Matrix Power">Matrix Power</option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                </select>
                <br>
                <br>
                <input type="submit">
        </form>
{%  endblock content %}