{% extends "tmm/header.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Matrix Multiplication</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Boolean Multiplication</h2>
            <form action="{% url 'op_boolean_multiply' %}" method="post">
                {% csrf_token %}
                <input type="text" id="m1_rows" class="fadeIn second" name="m1_rows"
                    placeholder="Number of Rows in Matrix 1" required>
                <input type="text" id="m1_columns" class="fadeIn third" name="m1_columns"
                    placeholder="Number of Columns in Matrix 1" required>
                <br>
                <textarea id="m1_entry" name="m1_entry" class="fadeIn third" rows="4" cols="50"
                    placeholder="Matrix 1 Values" required></textarea>
                <input type="text" id="m2_rows" class="fadeIn second" name="m2_rows"
                    placeholder="Number of Rows in Matrix 2" required>
                <input type="text" id="m2_columns" class="fadeIn third" name="m2_columns"
                    placeholder="Number of Columns in Matrix 2" required>
                <br>
                <textarea id="m2_entry" name="m2_entry" class="fadeIn third" rows="4" cols="50"
                    placeholder="Matrix 2 Values" required></textarea>
                <br>
                <input type="submit">
                <br>
            </form>
            <!-- Remind Passowrd -->
            <div id="formFooter">
                {% for c in content %}
                <p>{{c}}</p>
                {% endfor %}
                {% for e in error %}
                <p style="color: #ff2640;">{{e}}</p>
                {% endfor %}
                <p><a href="{% url 'tmm-home' %}"><b>Try another operation</b></a></p>
            </div>
        </div>
    </div>
</body>

</html>
{%  endblock content %}