{% extends "tmm/header.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Matrix Subtraction</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Matrix Subtraction</h2>
      <form action="{% url 'op_subtract' %}" method="post">
        {% csrf_token %}
        <input type="text" id="m_rows" class="fadeIn second" name="m_rows" placeholder="Number of Rows" required>
        <input type="text" id="m_columns" class="fadeIn third" name="m_columns" placeholder="Number of Columns"
          required>
        <br>
        <textarea id="m1_entry" name="m1_entry" class="fadeIn third" rows="4" cols="50" placeholder="Matrix 1 Values"
          required></textarea>
        <br>
        <textarea id="m2_entry" name="m2_entry" class="fadeIn third" rows="4" cols="50" placeholder="Matrix 2 Values"
          required></textarea>
        <br>
        <input type="submit">
        <br>
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
        {% for c in content %}
        <p>{{c}}</p>
        {% endfor %}
        {% for e in error %}
        <p style="color: #ff2640;">{{e}}</p>
        {% endfor %}
        <p><a href="{% url 'tmm-home' %}"><b>Try another operation</b></a></p>
      </div>
    </div>
  </div>
</body>

</html>
{%  endblock content %}